<!--
  Example launch file for octomap_server mapping:
-->
<launch>
	<node pkg="realsense_node_python" type="octomap_odometry.py" name="realsense_trajectory" output="screen"/>
	
	<node pkg="topic_tools" type="relay" name="relay1" args="PointCloud_L point_cloud2" />
	<node pkg="topic_tools" type="relay" name="relay2" args="PointCloud_M point_cloud2" />
	<node pkg="topic_tools" type="relay" name="relay3" args="PointCloud_R point_cloud2" />

	<node pkg="triple_pointcloud" type="triple_pointcloud.py" name="triple_pointcloud" output="screen" />

	<node pkg="realsense_node_python" type="octomap_server.py"  name="realsense_server" output="screen"/>

	<node pkg="realsense_node_python" type="frame.py"  name="tf_camera" output="screen"/>

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />

		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="central" />

		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="5.0" />

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="point_cloud2" />

        	<!-- resolution -->
		<param name="resolution" value="0.15" />

	</node>

        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find realsense_node_python)/rviz/config.rviz"/>
</launch>
