<launch>

	<node pkg="topic_tools" type="relay" name="relay1" args="PointCloud_L point_cloud2" />
	<node pkg="topic_tools" type="relay" name="relay2" args="PointCloud_M point_cloud2" />
	<node pkg="topic_tools" type="relay" name="relay3" args="PointCloud_R point_cloud2" />
	<node pkg="triple_pointcloud" type="triple_pointcloud.py" name="triple_pointcloud" output="screen" />

</launch>
